 @import url('https://fonts.googleapis.com/css?family=Kosugi&display=swap');

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Kosugi', monospace;
 }

 .top-header {
     height: 40px;
     background-color: rgb(0, 107, 102);
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     padding: 5px 10px;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
 }

 .logo {
     color: rgb(0, 189, 189);
 }

 #search-artist {
     padding: 6px;
     width: 400px;
     max-width: 600px;
     font-size: 13px;
     border: none;
     border-radius: 10px;
     color: rgba(119, 136, 153, 0.486);
     padding-left: 18px;
     font-family: 'Kosugi', monospace;
 }

 #search-artist:focus {
     z-index: 20;
     outline: none;
 }

 .nav-bar a {
     padding: 3px 8px;
     color: whitesmoke;
 }

 .search-results {
     width: 100%;
     margin-top: 100px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .search-results p {
     line-height: 25px;
 }

 .whenfocus {
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background: rgba(0, 0, 0, 0.5);
 }

 /**/
 .artist-card{
     display: flex; 
     padding: 20px;
     margin: 8px 8px 30px 8px;
      
     width: 100%; 
     max-width: 650px;
     
     justify-content: space-between;
     align-items: flex-start;
     background-color: whitesmoke;

     -webkit-box-shadow: 0px 0px 1px 0px rgba(145,145,145,1);
     -moz-box-shadow: 0px 0px 1px 0px rgba(145,145,145,1);
     box-shadow: 0px 0px 1px 0px rgba(145,145,145,1);
    }

 .artist-img{width: 100%; max-width: 200px;}
 .artist-img img {width: 100%; height: auto;}
 .artist-bio{flex: 1; padding-left: 20px;}
 .artist-bio-header{
     margin-bottom: 20px;
 }
 .artist-bio-header h3{font-size: 30px; margin-bottom: 10px;}
 .artist-links{
     width: 100%;
     margin-top: 5px;
     display: flex;
     justify-content: flex-start;
 } 

 .artist-links a{
     margin-right: 15px;
 }

 .artist-bio-sd{
margin-bottom: 20px;
 }

 .artist-bio-view-more{
     padding: 8px 16px;;
     background-color: teal;
     color: white;
     font-weight: bold;
     text-decoration: none;
     float: right;
 }